In [12]:
import numpy as np

In [15]:
# Definindo o tamanho da massa de dados
n = 1000

# Criando o array de ids com números inteiros de 1 a 1000
ids = np.arange(1, n+1)

# Criando o array de idades com valores aleatórios entre 18 e 80 anos
idades = np.random.randint(18, 80, size=n)

# Criando o array de sexos com valores aleatórios entre 'M' e 'F'
sexos = np.random.choice(['M', 'F'], size=n)

# Criando o array de estados civis com valores aleatórios: 'solteiro', 'casado', 'divorciado', 'viuvo' e 'outros'
estados_civis = np.random.choice(['solteiro', 'casado', 'divorciado', 'viuvo', 'outros'], size=n)

# Criando o array de sinistros com valores aleatórios entre 0 e 10
sinistros = np.random.randint(0, 5, size=n)

# Criando o array de prêmios com valores aleatórios entre 500 e 5000 reais
premios = np.random.randint(500, 50000, size=n).astype('float')

# Criando o dataframe com as colunas definidas acima
# dados = pd.DataFrame({'id': ids,
#                       'idade': idades,
#                       'sexo': sexos,
#                       'estado_civil': estados_civis,
#                       'sinistros': sinistros,
#                       'premios': premios})

# colunas = list(ids, idades, sexos, estados_civis, sinistros, premios)

dados = np.column_stack((ids, idades, sexos, estados_civis, sinistros, premios))
dados

array([['1', '75', 'F', 'viuvo', '4', '18385.0'],
       ['2', '47', 'F', 'divorciado', '3', '22684.0'],
       ['3', '24', 'F', 'outros', '3', '18451.0'],
       ...,
       ['998', '20', 'M', 'solteiro', '3', '44455.0'],
       ['999', '57', 'M', 'viuvo', '0', '34090.0'],
       ['1000', '78', 'F', 'casado', '2', '21572.0']], dtype='<U32')

In [19]:
idade_maior_30 = idades > 30
dados_filtrados = dados[idade_maior_30]
dados_filtrados

array([['1', '75', 'F', 'viuvo', '4', '18385.0'],
       ['2', '47', 'F', 'divorciado', '3', '22684.0'],
       ['4', '45', 'F', 'casado', '4', '4805.0'],
       ...,
       ['997', '50', 'F', 'solteiro', '4', '48852.0'],
       ['999', '57', 'M', 'viuvo', '0', '34090.0'],
       ['1000', '78', 'F', 'casado', '2', '21572.0']], dtype='<U32')

In [21]:
sinistro_zero = sinistros == 0
filtro_premio = premios > 1000
dados_filtrados = dados[sinistro_zero & filtro_premio]
dados_filtrados

array([['9', '50', 'M', 'outros', '0', '3300.0'],
       ['15', '29', 'M', 'solteiro', '0', '36611.0'],
       ['18', '18', 'M', 'casado', '0', '39524.0'],
       ...,
       ['992', '26', 'F', 'casado', '0', '7351.0'],
       ['994', '32', 'F', 'viuvo', '0', '14420.0'],
       ['999', '57', 'M', 'viuvo', '0', '34090.0']], dtype='<U32')

In [51]:
# clientes_maior_30anos = len(dados[dados['idade'] > 30])
# clientes_maior_30anos

753

In [52]:
#filtro1 = clientes que têm histórico de sinistros igual a zero e que pagam um prêmio superior a 1000.
filtro1 = dados[(dados['sinistros'] == 0) & (dados['premios'] > 1000)]
len(filtro1)

99

In [65]:
# classificar faixa etária
dados['faixa_etaria'] = pd.cut(
    dados['idade'],
    bins=[17, 30, 45, 60, 100],
    labels=['17-30', '31-45', '46-60', 'mais de 60']
)

# contar clientes por faixa etária
dados['faixa_etaria'].value_counts()

mais de 60    259
46-60         253
17-30         247
31-45         241
Name: faixa_etaria, dtype: int64

In [66]:
# Calcular o valor médio do prêmio pago pelos clientes de acordo com o seu estado civil.
dados.groupby('estado_civil')['premios'].mean()

estado_civil
casado        2821.897297
divorciado    2861.591549
outros        2722.910448
solteiro      2795.721649
viuvo         2854.763285
Name: premios, dtype: float64

In [4]:
dados[(dados['premios'] > dados['premios'].mean())]

      id  idade sexo estado_civil  sinistros  premios
1      2     72    M       casado          1   2995.0
4      5     64    F   divorciado          8   4848.0
5      6     32    F   divorciado          8   3483.0
6      7     29    M   divorciado          4   3214.0
9     10     19    F        viuvo          0   3725.0
..   ...    ...  ...          ...        ...      ...
988  989     69    M   divorciado          1   4488.0
991  992     31    F     solteiro          7   4473.0
992  993     63    F       casado          9   4943.0
994  995     29    F     solteiro          5   3003.0
998  999     57    F        viuvo          7   4566.0

[512 rows x 6 columns]