In [31]:
import numpy as np
import pandas as pd

In [50]:
# Definindo o tamanho da massa de dados
n = 1000

# Criando o array de ids com números inteiros de 1 a 1000
ids = np.arange(1, n+1)

# Criando o array de idades com valores aleatórios entre 18 e 80 anos
idades = np.random.randint(18, 80, size=n)

# Criando o array de sexos com valores aleatórios entre 'M' e 'F'
sexos = np.random.choice(['M', 'F'], size=n)

# Criando o array de estados civis com valores aleatórios: 'solteiro', 'casado', 'divorciado', 'viuvo' e 'outros'
estados_civis = np.random.choice(['solteiro', 'casado', 'divorciado', 'viuvo', 'outros'], size=n)

# Criando o array de sinistros com valores aleatórios entre 0 e 10
sinistros = np.random.randint(0, 10, size=n)

# Criando o array de prêmios com valores aleatórios entre 500 e 5000 reais
premios = np.random.randint(500, 5000, size=n).astype('float')

# Criando o dataframe com as colunas definidas acima
dados = pd.DataFrame({'id': ids,
                      'idade': idades,
                      'sexo': sexos,
                      'estado_civil': estados_civis,
                      'sinistros': sinistros,
                      'premios': premios})
dados

       id  idade sexo estado_civil  sinistros  premios
0       1     52    M     solteiro          7    737.0
1       2     63    F        viuvo          2   2970.0
2       3     31    F        viuvo          5   4469.0
3       4     42    F   divorciado          1   4887.0
4       5     42    F       outros          8   2792.0
..    ...    ...  ...          ...        ...      ...
995   996     58    M   divorciado          7   2643.0
996   997     53    F     solteiro          1   2074.0
997   998     33    M       casado          7   4163.0
998   999     60    M     solteiro          1   3293.0
999  1000     19    F       outros          1   2135.0

[1000 rows x 6 columns]

In [51]:
clientes_maior_30anos = len(dados[dados['idade'] > 30])
clientes_maior_30anos

753

In [52]:
#filtro1 = clientes que têm histórico de sinistros igual a zero e que pagam um prêmio superior a 1000.
filtro1 = dados[(dados['sinistros'] == 0) & (dados['premios'] > 1000)]
len(filtro1)

99

In [65]:
# classificar faixa etária
dados['faixa_etaria'] = pd.cut(
    dados['idade'],
    bins=[17, 30, 45, 60, 100],
    labels=['17-30', '31-45', '46-60', 'mais de 60']
)

# contar clientes por faixa etária
dados['faixa_etaria'].value_counts()

mais de 60    259
46-60         253
17-30         247
31-45         241
Name: faixa_etaria, dtype: int64

In [66]:
# Calcular o valor médio do prêmio pago pelos clientes de acordo com o seu estado civil.
dados.groupby('estado_civil')['premios'].mean()

estado_civil
casado        2821.897297
divorciado    2861.591549
outros        2722.910448
solteiro      2795.721649
viuvo         2854.763285
Name: premios, dtype: float64

In [67]:
dados[(dados['premios'] > dados['premios'].mean())]

      id  idade sexo estado_civil  sinistros  premios faixa_etaria
1      2     63    F        viuvo          2   2970.0   mais de 60
2      3     31    F        viuvo          5   4469.0        31-45
3      4     42    F   divorciado          1   4887.0        31-45
7      8     33    M       outros          1   4339.0        31-45
9     10     56    M     solteiro          5   4105.0        46-60
..   ...    ...  ...          ...        ...      ...          ...
988  989     25    M     solteiro          0   4109.0        17-30
993  994     43    M     solteiro          9   3404.0        31-45
994  995     19    M       outros          4   4091.0        17-30
997  998     33    M       casado          7   4163.0        31-45
998  999     60    M     solteiro          1   3293.0        46-60

[504 rows x 7 columns]